/*********** all html documents padding, margin and font ***********/

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*********** navbar styling ***********/
.navbar {
    background-color: transparent;
    position: absolute;
}

.navbar a {
    font-size: 110%;
    padding: 15px;
    color: brown;
}

.navbar a:hover {
    border-bottom: 4px solid brown;
	transition: 0.4s;
    transform: scale(1.1);
    color: brown;
}

/*********** body styling ***********/

.body{
	width: 100%;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(/assets/images/WORLD.jpg);
	background-position: center;
	background-size: cover;
    display: grid;
    place-items: center;
}

.heading {
    text-align: center;
    color: whitesmoke;
    padding-top: 50px;
}

/*********** Slider styling ***********/


/*********** information card styling ***********/
.row {
    margin: 0;
    padding: 0;
    border: solid 10px whitesmoke;
}


.row img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.information, h3, p {
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 110%;
}